.footer {
  position: fixed;
  bottom: 0px;
}
.signupbg {
  background-image: url('images/bg.png');
  background-size: cover;
  background-position: center;
  border-radius: 17.5px;
  height: 625px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}


